{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .btn-width { width: 100% }
</style>

<div class="container" style="padding-top: 50px">
    <h1>Bancos</h1>
    </br>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cuenta</th>
                <th>Estado</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody id="bancos"></tbody>
    </table>
    </br>
    </br>
    <form id="formulario-agregar">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button type="button" id="agregar" data-role="agregar" class="btn btn-info btn-width">Agregar Banco</button>
                </div>
            </div>
        </div>
        </br>
        <div id="formularios-div" style="padding: 0; display: none">
            <div id="formularios"></div>
            </br>
            <div class="row">
                <div class="col-md-4">
                    <button type="button" id="guardar" class="btn btn-success btn-width">Guardar</button>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal Editar -->
    <div id="modal-editar" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Editar Banco</h4>
                </div>
                <form id="formulario-editar">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" id="nombre" class="form-control" name="nombre">
                        </div>
                        <div class="form-group">
                            <label>Cuenta</label>
                            <input type="text" id="cuenta" class="form-control" name="cuenta">
                        </div>
                        <input type="text" id="editar-id" class="form-control" name="id">
                    </div>
                    <div class="modal-footer">
                        <a href="#" id="save" class="btn btn-primary" data-dismiss="modal">Actualizar</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar -->   
    <div id="modal-eliminar" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar Banco</h4>
                </div>
                <div class="modal-body">
                    <h4>¿Esta seguro que desea eliminar este banco?</h4>
                    </br>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Banco:</label>
                        </div>
                        <div class="col-md-4">
                            <label id="eliminar-nombre">Guardar</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Cuenta:</label>
                        </div>
                        <div class="col-md-4">
                            <label id="eliminar-cuenta">Guardar</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Estado:</label>
                        </div>
                        <div class="col-md-3">
                            <label>Guardar</label>
                        </div>
                    </div>
                    <input type="text" id="eliminar-id" class="form-control" name="id">
                </div>
                <div class="modal-footer">
                     <a href="#" id="save" class="btn btn-danger" data-dismiss="modal">Borrar</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div> 
    <!--
    <div id="modal-eliminar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="width:55%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body text-center">
                    <h3> ¿ Esta seguro que desea eliminar este elemento ?</h3>
                    <i class="fa fa-warning" style="font-size:60px;color:red"></i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect remove-data-from-delete-form" data-dismiss="modal">Cancelar</button>
                    <button type="submit" dataurl="" onclick="ajaxDelete(this)"  data-dismiss="modal" class="btn btn-danger waves-effect waves-light remove-record-model">Borrar</button>
                </div>
            </div>
        </div>
    </div>
    -->


    
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('build/js/banco.js') }}"></script>
{% endblock %}